.body {
  width: 100vh;
}

.title {
	font-family: Tahoma, Geneva, sans-serif;
	color: "#8c96c6";
}

.d3-tip{
	position: absolute;
	font-weight: bold;
	font-family: sans-serif;
	margin-left: 35px;
	text-align: center;
	z-index: 2;	
}

.states {
  fill: none;
}


.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
    display: inline;
  float: right;
}

@import "~font-awesome/css/font-awesome.css";