/* Coolors Exported Palette - https://coolors.co/dbecfa-8ca0d7-9d79bc-a14da0-5d1763 */

/* CSS HEX */
--alice-blue: #dbecfaff;
--wild-blue-yonder: #8ca0d7ff;
--purple-mountain-majesty: #9d79bcff;
--purpureus: #a14da0ff;
--midnight: #5d1763ff;

/* CSS HSL */
--alice-blue: hsla(207, 76%, 92%, 1);
--wild-blue-yonder: hsla(224, 48%, 70%, 1);
--purple-mountain-majesty: hsla(272, 33%, 61%, 1);
--purpureus: hsla(301, 35%, 47%, 1);
--midnight: hsla(295, 62%, 24%, 1);

/* SCSS HEX */
$alice-blue: #dbecfaff;
$wild-blue-yonder: #8ca0d7ff;
$purple-mountain-majesty: #9d79bcff;
$purpureus: #a14da0ff;
$midnight: #5d1763ff;

/* SCSS HSL */
$alice-blue: hsla(207, 76%, 92%, 1);
$wild-blue-yonder: hsla(224, 48%, 70%, 1);
$purple-mountain-majesty: hsla(272, 33%, 61%, 1);
$purpureus: hsla(301, 35%, 47%, 1);
$midnight: hsla(295, 62%, 24%, 1);

/* SCSS RGB */
$alice-blue: rgba(219, 236, 250, 1);
$wild-blue-yonder: rgba(140, 160, 215, 1);
$purple-mountain-majesty: rgba(157, 121, 188, 1);
$purpureus: rgba(161, 77, 160, 1);
$midnight: rgba(93, 23, 99, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-right: linear-gradient(90deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-bottom: linear-gradient(180deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-left: linear-gradient(270deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-top-right: linear-gradient(45deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-bottom-right: linear-gradient(135deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-top-left: linear-gradient(225deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-bottom-left: linear-gradient(315deg, #dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);
$gradient-radial: radial-gradient(#dbecfaff, #8ca0d7ff, #9d79bcff, #a14da0ff, #5d1763ff);